.header{
    background-color: navy;
    padding: 20px 10px;
}
.header h1{
    color: #fff;
}
main
{
    width: 80%;
    margin: 50px auto;
}
.btn{
    border:none;
    outline: none;
    padding: 8px 20px;
    font-size: 1.01rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.table-sec{
    margin-top: 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.table-sec table{
    width: 100%;
}
table,thead,tbody,td,th,tr{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

table button:first-child{
    margin-right: 10px;
}

.btn-blue{
    background-color: blue;
    color: #fff;
}
.btn-green{
    background-color: green;
    color: #fff;
}
.btn-pink{
    background-color: deeppink;
    color: #fff;
}
.btn-red{
    background-color: red;
    color: #fff;
}
.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-box{
    width: 40%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 5px;
    animation: modalAnimate .25s forwards;
}
.modal .modal-box .modal-header{
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
}
.modal-body .form-contain{
    padding: 10px;
}
.form-group{
    margin-bottom: 5px;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
}
.form-control{
    padding: 5px;
}
.btn-group{
    text-align: right;
    padding: 10px;
}
.btn-group button:first-child{
    margin-right: 5px;
}
.d-none{
    display: none;
}
@keyframes modalAnimate{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
